.container {
    margin: 20px auto;
    width: 95%;
    max-width: 1200px;
    overflow-x: auto;
}

.header {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #d1e3d2;
    color: rgb(4, 4, 4);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.header-button {
    background-color: #020202;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #249af5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 16px;
    text-align: left;
}

th {
    color: #2C3E50;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-button {
    padding: 5px;
}

.edit-button button {
    border: 1px solid #2C3E50;
    border-radius: 3px;
    padding: 8px 16px;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button button:hover {
    background-color: #2980B9;
}

.edit-controls {
    margin-top: 20px; /* Added margin to create space */
}

.edit-controls button {
    background-color: #007bff; /* Blue color for buttons */
    color: white;
    padding: 10px 20px; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Added margin to separate buttons */
}

.edit-controls button:last-child {
    margin-right: 0; /* Remove margin from last button */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header {
        padding: 16px 5px;
    }

    .header-title {
        font-size: 1.2rem;
    }

    .header-button {
        padding: 10px 20px;
    }
}
